@import "tailwindcss";

@layer base {
  :root {
    --bottom-nav-height: 76px;
    --bottom-action-height: 72px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe-or-4 {
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
  }
  .h-screen-safe {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

html, body {
  -webkit-tap-highlight-color: transparent;
}
